// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ddece5;
}

.container {
  position: relative;
  width: 500px;
  min-height: 500px;
  margin: 64px;
  padding: 16px 32px;
  background-color: #8fc0a9;
  opacity: 0.9;
  border-radius: 8px;
  color: #FFF;
  text-shadow: 1px 1px 3px rgba(40,40,40,0.5);
  box-shadow: 1px 1px 3px rgba(40,40,40,0.5);
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: #FFF;
}


// form
.form-field {
  padding: 8px;
}

// tasks display
.board-white {
  background-color: rgba(255,255,255,0.3);
  min-height: 350px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;
}

.button {
  position: absolute;
  bottom: 8px;
  display: flex;
  border: 2px solid rgba(77, 137, 109, 0.7);
  background-color: rgba(77, 137, 109, 0.7);
  box-shadow: 1px 1px 3px rgba(40,40,40,0.5);
  border-radius: 12px;
  width: 100px;
  padding: 6px 10px;
  justify-content: center;
}

.right {
  position: absolute;
  right: 32px;
}

.left {
  position: absolute;
  left: 32px;
}